<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planta Baja</title>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/fondopb.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <script
      src="https://kit.fontawesome.com/8bedfba391.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <a href="../views/index.html" class="header-title">
        <h2>Fondo planta baja</h2>
      </a>
    </header>
    <main class="body">
      <div class="tables">
        <table class="table">
          <thead class="table-header">
            <tr class="table-header-tr">
              <th>Nombre</th>
              <th>Deuda</th>
              <th>Pago</th>
              <th>Registrado</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr class="table-body-tr">
              <td>Agustin</td>
              <td>$0</td>
              <td>$500</td>
              <td>09/07</td>
            </tr>
            <tr class="table-body-tr">
              <td>Ary</td>
              <td>$1000</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr class="table-body-tr">
              <td>Emma</td>
              <td>$1500</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr class="table-body-tr">
              <td>Facu</td>
              <td>$0</td>
              <td>$500</td>
              <td>12/7</td>
            </tr>
            <tr class="table-body-tr">
              <td>Flor</td>
              <td>$1000</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr class="table-body-tr">
              <td>Lara</td>
              <td>$500</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr class="table-body-tr">
              <td>Luly</td>
              <td>$500</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr class="table-body-tr">
              <td>Colombo</td>
              <td>$0</td>
              <td>$500</td>
              <td>1/7</td>
            </tr>
            <tr class="table-body-tr">
              <td>Matifa</td>
              <td>$0</td>
              <td>$500</td>
              <td>11/7</td>
            </tr>
            <tr class="table-body-tr">
              <td>Sofi</td>
              <td>$500</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
        <table class="table second-table">
          <thead class="table-header">
            <tr class="table-header-tr">
              <th>Gastos</th>
              <th>Monto</th>
              <th>Dia</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr class="table-body-tr">
              <td>Detergentes y esponjas</td>
              <td>$680</td>
              <td>01/07</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="last-table">
        <table class="table">
          <thead class="table-header">
            <tr class="table-header-tr last-table-tr">
              <th>Deuda Total</th>
              <th>Fondo Total</th>
            </tr>
            <tr class="table-header-tr last-table-tr">
              <th>$5500</th>
              <th>$1830</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="payment">
        <h3>Metodos de pago</h3>
        <div class="payment-methods">
          <h4>Pago en efectivo</h4>
          <p>Agustin / Facu - Pieza 02</p>
          <h4>Transferecia</h4>
          <p>CVU: 0000007900204149089942</p>
          <p>Alias: 41490899.UALA</p>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p>Copyright &copy; 2022. All rights reserved</p>
    </footer>
  </body>
</html>
