<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planta Baja</title>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="../styles/grupos.css" />
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <script
      src="https://kit.fontawesome.com/8bedfba391.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <a href="../views/index.html" class="header-title">
        <h2>Limpieza General</h2>
      </a>
    </header>
    <main class="body">
      <div class="warning">
        <p>El grupo afortunado de la limpieza de esta semana es:</p>
        <h4>Grupo 3</h4>
      </div>
      <div class="groups">
        <div class="group">
          <h3>Grupo 1</h3>
          <ul>
            <li>Lara</li>
            <li>Sofi</li>
            <li>Emma</li>
            <li>Ary</li>
          </ul>
        </div>
        <div class="group">
          <h3>Grupo 2</h3>
          <ul>
            <li>Facu</li>
            <li>Colombo</li>
            <li>Gomez</li>
          </ul>
        </div>
        <div class="group">
          <h3>Grupo 3</h3>
          <ul>
            <li>Flor</li>
            <li>Matifa</li>
            <li>Luly</li>
          </ul>
        </div>
      </div>
      <div class="info">
        <h3>Informacion</h3>
        <p>
          La limpieza semanal consta de la limpieza de todos los espacios
          comunes. Entre ellos se encuentran:
        </p>
        <ul>
          <li>Entrada</li>
          <li>Medio</li>
          <li>Pasillo</li>
          <li>Ante patio</li>
          <li>Cocina</li>
          <li>Comedor</li>
          <li>Baños</li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      <p>Copyright &copy; 2022. All rights reserved</p>
    </footer>
  </body>
</html>
